[submodule "source/parser"]
	path = source/parser
	url = https://github.com/hczhcz/myparser.git
[submodule "source/semantic"]
	path = source/semantic
	url = https://github.com/hczhcz/libblock.git
[submodule "source/LLVM-Simple-Wrapper"]
	path = source/LLVM-Simple-Wrapper
	url = https://github.com/gaocegege/LLVM-Simple-Wrapper.git
